/* || LAYOUT AND GENERAL STYLES */
html, body {
    margin: 0 auto;
    padding: 0;
    background-color: green;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
}

header {
    background-color: white;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

/* || BUTTONS, LINKS, FORMS */
button {
    background-color: #FFF100;
    font-size: 1.25rem;
    border-radius: .60rem;
    transform: scale(1);
    transition: transform 250ms;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: #FFFF99;
    transform: scale(1.1);
}

/* || IMAGES */

img {
    height: 100%;
    width: 100%;
}

/* || UTILITIES */

/* || SITEWIDE e.g., nav, footer */

/* || CLASS SPECIFIC */

.card-outline {
    padding: .02rem 0;
    width: 12.5rem;
    height: 18rem;
    margin: .5rem auto;
    border: .1rem black solid;
    border-radius: .313rem;
}
/* || ID SPECIFIC */
#new-deck-container {
    width: 25%;
}

#new-deck-container div {
    width: 40%;
    text-align: center;
}

#card-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* max-height: 50px;
    max-width: 20px; */
}

#result-container, #card-count-container, #scoreboard-container {
    text-align: center;
}

#new-deck-btn {
    padding: 3em;
    margin: 1em auto;

}
#draw-two-btn {
    padding: 3em;
    width: 50%;
    margin: 1em auto;
}

#reset-game-btn {
    background-color: red;
    width: 30%;
    margin: 1em auto;
    padding: 2rem;
}