/* || LAYOUT AND GENERAL STYLES */
html, body {
    margin: 0 auto;
    padding: 0;
    background-color: green;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    margin-bottom: 1rem;
}

header {
    background-color: white;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

/* || BUTTONS, LINKS, FORMS */
button {
    background-color: #FFF100;
    font-size: 1.25rem;
    border-radius: .60rem;
    transform: scale(1);
    transition: transform 250ms;
    cursor: pointer;
    width: 25%;
}

button:hover, button:focus {
    background-color: #FFFF99;
    transform: scale(1.1);
}

/* || IMAGES */

img {
    height: 100%;
    width: 100%;
}

/* || UTILITIES */

/* || SITEWIDE e.g., nav, footer */

/* || CLASS SPECIFIC */

.card-outline {
    /* padding: .02rem 0; */
    width: 12.5rem;
    height: 18rem;
    margin: .5rem auto;
    border: .1rem #fff solid;
    border-radius: .313rem;
}
/* || ID SPECIFIC */
#new-deck-container {
    width: 25%;
}

#new-deck-container div {
    width: 40%;
    text-align: center;
}

#card-count-container, #scoreboard-container, #cards-container, #scoreboard {
    text-align: center;
    margin: 0 auto;
    color: #fff;

}

#new-deck-btn {
    padding: 1rem;
    margin: 1rem auto;

}

#draw-two-btn {
    padding: 1rem;
    margin: 0 auto;
}

#reset-game-btn {
    background-color: #fff;
    margin: 1rem auto;
    padding: 1rem;
}

#result-container {
    width: 50%;
}

#cards-container, #scoreboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-top: 0;
}



/*MOBILE FRIENDLY CSS*/
/* 
@media screen and (max-width: 1000px) {
    body, html {
        background-color: pink;
    }

    button {
        color: pink;
    }

    img {
        width: 115px;
        height: 170px;
    }
    .card-outline {
        width: 118px;
        height: 173px;
    }

    html, body {
        font-size: small;
    } */

    /* .card-outline {
        width: 6.25rem;
        height: 9rem;
        margin: .25rem auto;
        border: .05rem #fff solid;
        border-radius: .156rem;
    } */

    /* 230 by 340 */